:root {
  --ifm-color-primary: #0f766e;
  --ifm-color-primary-dark: #0d6b64;
  --ifm-color-primary-darker: #0c6560;
  --ifm-color-primary-darkest: #0a5350;
  --ifm-color-primary-light: #11827a;
  --ifm-color-primary-lighter: #128880;
  --ifm-color-primary-lightest: #15a093;
}

.hero--primary {
  background: linear-gradient(130deg, #0f766e 0%, #1d4ed8 100%);
}
